<%- include("./partials/nav.ejs") %>

<main>
    <h1>RadioPrep</h1>
    <h2></h2>

    <% if (user) { %>
        <p>Welcome, <%= user.username %>.</p>
    <% } else { %>
        <p>Please Sign-in or Sign-up if you dont have an acount</p>
    <% } %>
</main>
</body>
</html>
