<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1> All information cards</h1>
<br>
<ul>
    
<% allInfo.forEach((item) => { %>
    <li> <%=item.name%> </li>
    <li> <%= item.radiologyUnit%> </li>
    <li> <%= item.duration%> </li>
    <button><a href=""></a> Click for details</button>
    <hr>
<%})%>

</ul>

    
</body>
</html>