<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/info" method="post">

    <label for="name"> Examination name</label>
    <input 
    type="text" 
    name="name" 
    id="name"
    required>

<br>
    <label for="duration"> expected duration</label>
    <input 
    type="number"
     name="duration"
      id="duration"
      required>
<br>

    <label for="radiologyUnit">Select Radiology Unit:   </label>
    <select name="radiologyUnit" id="radiologyUnit"      required>

    <option value="general-xray">general-xray</option>
    <option value="CT">CT</option>
    <option value="MRI">MRI</option>
    <option value="US">Ultrasound (US)</option>
    <option value="fluor">Fluoroscopy (fluor)</option>
    <option value="BMD">Bone Mineral Density (BMD)</option>

    </select>
<br>
    <label for="generalInfo">Add General Info:</label>
    <textarea 
    name="generalInfo"
    id="generalInfo" 
    required>
    </textarea>
<br>
<button type="submit"> Creat info card </button>

</form>
    
</body>
</html>